server {
  listen ${NGINX_PORT};
  server_name ${NGINX_HOST};

  location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;

    proxy_pass http://nodes;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }
}

upstream nodes {
  server ${APP_HOST_1}:${APP_PORT};
  server ${APP_HOST_2}:${APP_PORT};
}
